.selector-for-some-widget {
  box-sizing: content-box;
}

.text-pur{
  font-family: 'Courier New', Courier, monospace;
}
.bg-containe{
  background-image: radial-gradient(rgba(0,0,0, 0.9) , rgba( 0,0,0, 0.2)), url('./assests/bookshelf-1082309_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 50vh;
  padding: 20px;
}
.mt-spec{
  margin-top: 250px;
  height: 70vh;
  z-index: -2;
  padding: 30px;
}


@media screen and (max-width:568px){
  .d-xs-none{
    display: none;
  }
  .res_size{
    margin: 0;
    padding: 0;
    display: block;
  }
  h1{
    font-size: 25px;
    margin-top:5px;
  }
  p{
    font-size: 18px;
    padding: 0px;
  }
  .bg-containe{
    max-height: 90vh;
  }
}
@media screen and (max-width:667px){
 .jumbotron{
   margin-top: 25px;
 }
}